/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font: "IBM Plex mono";
  --font-size: 18px;
  --bg-color: #000028;
  --focus__text-color: #db00ff;
  --title__text-color: #ff0070;
  --border-color: #ff0070;
  --decoration-color: #ff0070;
  --subtitle__text-color: #000028;
  --text-color: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
:root.theme_dark {
  --main-font: "IBM Plex mono";
  --font-size: 18px;
  --bg-color: #000028;
  --focus__text-color: #db00ff;
  --title__text-color: #ff0070;
  --border-color: #ff0070;
  --decoration-color: #ff0070;
  --subtitle__text-color: #000028;
  --text-color: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
}
