/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono";
  --font-size:18px;
  --bg-color: #000028;
  --focus__text-color: #db00ff;
  --title__text-color: #ff0070;
  --border-color: #ff0070;
  --decoration-color: #ff0070;
  --subtitle__text-color: #000028;
  --text-color: #f1b2ce;
  --bg-image:url(../images/cover-image-dark.png);
}
